@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Squadron Bulgaria</h1>
    <p>The first ever military surplus store in Bulgaria!</p>
    <p>S Nami Bog!</p>
</div>
