<h4>Search any kind of vehicle you need</h4>
<hr />
<form asp-action="ShowSearchResults" method="get">
    <label for="searchPhrase">Search:</label>
    <input type="text" name="searchPhrase" />
    <button type="submit">Search</button>
</form>