@{
    ViewData["Title"] = "Inquiry";
}

<h2>Inquiry</h2>

<p>If you wish to inquire about a model on the website, contact us here:</p>
<a href="https://www.instagram.com/tr1ckst3r12/" target="_blank" class="btn btn-primary">Inquire</a>